*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --Adark-purple: #1e1b4b;
  --Amiddle-dark-purple: #312e81;
  --Alight-dark-purple: #3730a3;
  --Amax-dark-purple: #818cf8;
  --Amin-dark-purple: #a5b4fc;

  --Bdark-purple: #2e1065;
  --Bmiddle-dark-purple: #4c1d95;
  --Blight-dark-purple: #7c3aed;
  --Bmax-dark-purple: #a78bfa;
  --Bmin-dark-purple: #e9d5ff;

  --gray: #111827;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: pink !important;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* second-btn */

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding-inline: 20px;
  padding-block: 8px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: var(--Adark-purple);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: var(--Bmin-dark-purple);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.btn:hover {
  color: var(--Adark-purple);
}
.btn:hover::before {
  transform: translateX(0);
  color: var(--Adark-purple);
}

/* buton */
.button {
  position: relative;
  width: 150px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--Alight-dark-purple);
  background-color: var(--Adark-purple);
  border-radius: 12px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  padding-left: 10px;
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  color: #fff;
  font-weight: bold;
  background-color: #1e1b4b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.button:hover {
  background: var(--Blight-dark-purple);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: var(--Amax-dark-purple);
}

.button:active {
  border: 1px solid #2e8644;
}
.img-position {
  position: relative;
}

.search-basket {
  display: flex;
  align-items: center;
  gap: 20px;
}

#category-list a:focus,
a:hover {
  color: var(--Adark-purple);
  font-weight: bold;
}
.active {
  display: none;
}

.sepet-search-basket {
  display: flex;
  flex-direction: column;
}

.search-input {
  border-radius: 20px;
  border-color: #4a4356;
  border-style: solid;
  padding-inline: 12px;
  padding-block: 5px;
  color: #717171;
  width: 200px;
  transition: width 0.5s ease;
}

.search-input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
  width: 400px;
}

.search-basket:focus {
  border-color: pink;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

.basketItem {
  color: white;
  background-color: var(--Bdark-purple);
  border-style: solid;
  padding: 3px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 15px;
  position: absolute;
  bottom: -5px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list-item {
  background-color: #f9fafb;
  padding-block: 1rem;
  display: flex;
  gap: 12px;

  border-radius: 7px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1em;
  padding: 0.5em;
}
.resim img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.basket {
  display: flex;
  flex-direction: column;
  color: var(--gray);
  gap: 0.5em;
}
.sepet {
  width: 400px;
  height: 100vh;
}
.basket-all {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f9fafb;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 2em;
  border-radius: 10px;
  margin: auto;
  z-index: 233;
  overflow-y: hidden;
  animation: slide-down 300ms ease-out forwards;
  transition: 0.1s ease;
}

.basket-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  justify-content: space-between;
  &h2 {
    color: var(--Amax-dark-purple);
  }
}

.close-basket {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: var(--Bmin-dark-purple);
  }
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px;
  color: var(--gray);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  /* padding-bottom: 1rem; */
}

.basket-item:last-child {
  border-bottom: none;
}

.basket-list {
  margin-bottom: 1em;
  max-height: 600px;
  overflow-y: auto;
}
.basket-resim img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
}
.total-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 5px;
}

.increase-decrease {
  font-size: 20px;
  font-weight: bold;
  color: #717171;
}

.decrease {
  margin-right: 10px;
  cursor: pointer;
}

.many {
  color: var(--Adark-purple);
}

.increase {
  margin-left: 10px;
  cursor: pointer;
}

.total {
  margin-top: 1rem;
  font-size: 17px;
  color: var(--Bmin-dark-purple);
  font-weight: bold;
}

.product-info {
  color: var(--Bmax-dark-purple);
  font-size: 15px;
  font-weight: bold;
}

.product-info strong {
  color: var(--gray);
  font-weight: bold;
}

.delete-btn {
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 5px;
  background-color: pink;
  color: #8739f9;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #8739f9;
  color: pink;
}

#category-list {
  display: flex;
  gap: 80px;
  justify-content: center;
  font-size: 25px;
  color: #a8a9a9;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.inputs input {
  width: auto;
  padding-inline: 12px;
  padding-block: 5px;
  border-radius: 7px;
  border-style: solid;
  color: var(--Bmax-dark-purple);
  font-weight: bold;
  outline: none;
  border-color: rgba(0, 0, 0, 0.1);
}

.inputs input:first-child {
  margin-top: 25px;
}

.ürün-ekle {
  width: 300px;
  border-radius: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding-block: 2px;
  cursor: pointer;
}

.ürün-ekle:hover {
  background-color: #c651cd;
  color: wheat;
}

.ürünicin {
  color: #c651cd;
  font-weight: bold;
  font-size: 1em;
  margin-top: 2rem;
}

.name-user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ürünicin input {
  margin-right: 7px;
}

.category-kismi {
  border-color: rgba(0, 0, 0, 0.1);
  padding-inline: 12px;
  padding-block: 5px;
  width: auto;

  &select {
    background-color: pink;
  }
}

.urunler-header {
  text-align: center;
  color: var(--Adark-purple);
  margin-bottom: 2em;
  margin-top: 1em;
}

.del-product {
  border-radius: 12px;
  padding-inline: 12px;
  padding-block: 5px;
  text-align: center;
  border-color: white;
  border-style: solid;
  background-color: pink;

  color: #8739f9;
  font-weight: bold;
  cursor: pointer;
}

.del-product:hover {
  background-color: #8739f9;
  color: pink;
}

.basket-buton {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-item {
    background-color: #f9fafb;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 760px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-item {
    background-color: #f9fafb;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 12px;
    border-radius: 7px;

    & .resim {
      align-self: center;
    }
  }
  #category-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 20px;
    color: #a8a9a9;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  .search-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
    width: 200px;
  }
}

@media only screen and (max-width: 550px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #category-list {
    display: flex;
    gap: 18px;
    justify-content: center;
    font-size: 17px;
    color: #a8a9a9;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  .search-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
    width: 200px;
  }
  .basket-all {
    width: 100%;
  }
  .basket-item {
    justify-content: space-between;
  }
  .basket-list {
    margin-bottom: 1em;
    max-height: 300px;
    overflow-y: auto;
  }
}
